.error-icon {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}
.error-message {
  width: 100%;
  text-align: center;
  color: #DC143CFF;
  margin-top: 1rem;
  font-size: 1.2rem;
}